- Delete:
    name: /tmp/Masonry-Builder

- MakeDirectory:
    name: /tmp/Masonry-Builder

- CloneRepository:
    repository: git@github.com:Visionmongers/Masonry-Builder.git
    directory: /tmp/Masonry-Builder

- Composer:
    command: install
    location: /tmp/Masonry-Builder

- Phar:
    fileName: /tmp/masonry-builder.phar
    directory: /tmp/Masonry-Builder
    entryPoint: app/masonry
